<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>

        <section th:fragment="multimedia-section" class="multimedia-section">
            <div class="mapa-container" style="display:none;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.3926589948596!2d-84.03162119999999!3d9.9843873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e5dd910e8193%3A0x7af38346e644fe17!2sLa%20adictiva%20pasteleria!5e0!3m2!1ses!2scr!4v1755841623950!5m2!1ses!2scr"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        title="Mapa La Adictiva Pastelería"></iframe>
            </div>


            <div class="redes-sociales" style="display: none;">
                <a href="https://www.facebook.com/laadictivapasteleria" target="_blank" rel="noopener noreferrer" class="icon-facebook">
                    Facebook
                </a>
                <a href="https://www.instagram.com/laadictivapasteleria" target="_blank" rel="noopener noreferrer" class="icon-instagram">
                    Instagram
                </a>
            </div>
        </section>

    </body>
</html>