<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>

        <section th:fragment="multimedia-section" class="multimedia-section">
            <div class="mapa-container" style="display:none;">
                <iframe
                    src="tu_url_real_de_Maps_aqui"
                    width="600"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                    title="Mapa La Adictiva Pastelería">
                </iframe>
            </div>

            <div class="redes-sociales" style="display: none;">
                <a href="https://www.facebook.com/laadictivapasteleria" target="_blank" rel="noopener noreferrer" class="icon-facebook">
                    Facebook
                </a>
                <a href="https://www.instagram.com/laadictivapasteleria" target="_blank" rel="noopener noreferrer" class="icon-instagram">
                    Instagram
                </a>
            </div>
        </section>

    </body>
</html>