<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Inicio | La Adictiva Pastelería</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    </head>
    <body>

        <div class="frame pgina-pri-52324e3001af">

            <div class="banner" th:style="|background-image: url('@{/img/banner.png}');|"></div>

            <div class="content-background"></div>

            <a th:href="@{/catalogo}" class="button btn-catalogo" tabindex="1">CATÁLOGO</a>
            <a th:href="@{/sobre-nosotros}" class="button btn-sobre-nosotros" tabindex="2">SOBRE NOSOTROS</a>
            <a th:href="@{/faq}" class="button btn-faq" tabindex="3">PREGUNTAS Y RESPUESTAS</a>

            <footer class="footer-529907495725">
                <div class="footer-content">
                    <p>Facebook: La Adictiva Pastelería  Instagram: la_adictiva_pasteleria  Teléfono: 8467-9524  Waze: La Adictiva Pastelería</p>
                    <p>Horario: Lunes a sábado: 6:00 a.m. – 6:00 p.m. | Domingo: 7:00 a.m. – 5:00 p.m.</p>
                    <p>© 2025 La Adictiva Pastelería. Todos los derechos reservados.</p>
                </div>
            </footer>
        </div>
    </body>
</html>